:root {
    --bg: #226b9c;
    --fg: #174869;
    --accent: #b0c8dc;
    --title: #eeffff;
    --text: #edf9ff;
  }

html {
    height: 100%;
}

body {
    color: var(--text);
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(45deg, var(--bg), var(--fg));
}

#creature-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: var(--bg);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 120px;
    border: 1px var(--accent);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: drop-shadow 0.2s;
}

.card:hover {
    filter: drop-shadow(0px 0px 5px var(--accent));
}

.card h3 {
    font-size: 24px;
    color: var(--title);
    margin: 0;
}

.card-title {
    flex: 1;
    text-align: left;
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-description {
    flex: 2;
    font-size: 16px;
}

.diet-icon {
    font-size: 22px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.creature-image {
    max-height: 140px;
    max-width: 140px;
    margin-left: 20px;
    filter: drop-shadow(0px 0px 5px --accent);
}

input[type="text"] {
    font-size: 24px;
    padding: 5px;
    margin: 10px;
    background: transparent;
    border: none;
    color: var(--text);
}

::placeholder {
    color: var(--text);
  }

.diet-icon:hover {
    cursor: help;
}