:root {
    --bg: #226b9c;
    --fg: #174869;
    --accent: #b0c8dc;
    --title: #e3ffff;
    --text: #edf9ff;
  }
  
body {
    background-color: var(--bg);
    color: var(--text);
    /* font-family: Arial, sans-serif; */
}

#creature-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: var(--fg);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: drop-shadow 0.1s;
}

.card:hover {
    filter: drop-shadow(0px 0px 2px var(--accent));
}

.card h3 {
    font-size: 24px;
    color: var(--title);
}

.card-title {
    flex: 1;
    text-align: left;
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-description {
    flex: 2;
    font-size: 16px;
}

.diet-icon {
    font-size: 22px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.creature-image {
    max-height: 140px;
    max-width: 140px;
    margin-left: 20px;
    filter: drop-shadow(0px 0px 5px --accent);
}

input[type="text"] {
    font-size: 24px;
    padding: 5px;
    margin: 10px;
    border: none;
    background-color: var(--bg);
    color: var(--text);
}

::placeholder {
    color: var(--text);
    opacity: 1; /* Firefox */
  }

.diet-icon:hover {
    cursor: help;
}